@import '../../styles/index';

.Button {
  display: block;
  width: 70%;
  padding: 10px 5px;

  text-align: center;
  color: $accent;
  font-weight: bold;

  border: 2px solid $accent;
  border-radius: 5px;

  cursor: pointer;
}